.navbar {
  padding: 5px;
}
.header-light-theme {
  background-color: #ffffff;
}
.header-dark-theme {
  background-color: #3a3d3b;
}

.header-responsive-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 50px;
  width: 95%;
}
.website-logo {
  height: 24px;
  width: 92px;
  margin: 10px;
  margin-top: 3px;
}
.nav-items-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .website-logo {
    margin-left: 20px;
    width: 133px;
    height: 41px;
  }
  .nav-items-container {
    width: 50%;
  }
}
.mobile-nav-items-container {
  display: none;
}
.theme-button {
  height: 30px;
  width: 30px;
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
}
.close-icon {
  display: none;
}
.menu-icon {
  display: none;
}
.nav-links {
  text-decoration: none;
  color: #7ba1e3;
  margin-right: 30px;
}
.nav-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.light-theme-text {
  color: #475569;
}
.dark-theme-text {
  color: #f9f9f9;
}
.styled-nav-text {
  color: #7ba1e3;
}
.logout-button {
  height: 32px;
  width: 73px;
  background-color: #0284c7;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 30px;
}

/*** Mobile-View ***/

@media screen and (max-width: 768px) {
  .navbar {
    max-height: 150px;
    padding-right: 20px;
  }
  .header-responsive-navbar {
    justify-content: space-between;
    padding: 16px;
    margin: 0px;
  }
  .nav-items-container {
    display: none;
  }
  .mobile-nav-items-container {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .mobile-view-icon {
    margin: 0px;
    padding: 0px;
  }
  .close-icon {
    display: block;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .menu-icon {
    display: block;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .nav-links {
    margin: 10px;
  }
  .home-icon {
    font-size: 30px;
  }
}
